<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio: Guestbook</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/icons8-sign-50.png">
    
</head>
<body>
    <form action="/thankyou" method="post">
        
        <fieldset>
            <h1>My Guestbook Form</h1>
            <div class="top-group">
                <label>
                    First Name
                    <input type="text" name="fname">
                </label>
            </div>
                
            <div class="top-group">
                <label>
                    Last Name
                    <input type="text" name="lname">
                </label>
            </div>

            <div class="top-group">
                <label>
                    Job Title
                    <input type="text" name="job">
                </label>
            </div>
                
            <div class="top-group">
                <label>
                    Company
                    <input type="text" name="company">
                </label>
            </div>

            <div class="top-group">
                <label>
                    LinkedIn URL
                    <input type="text" name="linkedin">
                </label>
            </div>

            <div class="top-group">
                <label>
                    Email Address
                    <input type="text" name="email">
                </label>
            </div>

           
            <div class="mid-group">
                <label>
                    How did we meet?
                    <select name="howwemet">
                        <option value="School">Classroom</option>
                        <option value="School">Job Fair</option>
                        <option value="School">Meetup</option>
                    </select>
                </label>
            </div>
            <div class="mid-group">
                <label>
                    Other (please specify)
                    <input type="text" name="other" id="otherbox">
                </label>
            </div>

            <div class="message">
                <label>
                    Message   
                    <input type="text" name="message">
                </label>
            </div>
 
            <div class="mailing-group">
                <label>
                    <input type="checkbox" name="mailinglist" id="mailing">
                    Please add me to your mailing list
                </label>
            </div>

            <div class="emailformat">
                <label class="emailformat">
                    Choose an email format:
                    <input type="radio" name="htmlradio" class="radios">HTML
                </label>
             
                <label class="emailformat">
                    <input type="radio" name="textradio" class="radios">Text
                </label>
            </div>
            <button type="submit">Submit</button>
        </fieldset>
        
    </form>
    <footer>
        <br>
        <br>
        <a target="_blank" href="https://icons8.com/icon/8190/sign-up">Sign</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </footer>
</body>
</html>