<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio: Guestbook</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/icons8-sign-50.png">
</head>
<body>
    <form action="/thankyou" method="post">
        <fieldset>
            <h1>My Guestbook Form</h1>
            <div id="top">
                <label>First Name
                    <input type="text" name="fname">
                </label>

                <label>Last Name
                    <input type="text" name="lname">
                </label>

                <label>Job Title
                    <input type="text" name="job">
                </label>

                <label>Company
                    <input type="text" name="company">
                </label>

                <label>LinkedIn URL
                    <input type="text" name="linkedin">
                </label>

                <label>Email Address
                    <input type="text" name="email">
                </label>
            </div>

            <!--
            <div id="mid">
                <label>How did we meet?
                    <select name="howwemet">
                        <option value="School">Classroom</option>
                        <option value="School">Job Fair</option>
                        <option value="School">Meetup</option>
                    </select>
                </label>

                <label>Other (please specify)
                    <input type="text" name="other">
                </label>
            </div>

            <label id="message">Message   
                <input type="text" name="message">
            </label>

            <label id="mailing">Please add me to your mailing list
                <input type="checkbox" name="mailinglist">
                
            </label>

            <p>Choose an email format:</p>
            <label class="emailformat">
                <input type="radio" name="htmlradio">HTML
            </label>

            <label class="emailformat">
                <input type="radio" name="textradio">Text
            </label>
        -->
        <button type="submit">Submit</button>
        </fieldset>
    </form>
    <footer>
        <br>
        <br>
        <a target="_blank" href="https://icons8.com/icon/8190/sign-up">Sign</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </footer>
</body>
</html>