<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Submission</title>
    <script src="/script.js" defer></script>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/icons8-sign-50.png">
</head>
<body>
    <h1>Invalid Submission.</h1>
    <h3 id="errorMsg">Must include first name, last name, and email address.</h3>
    <div class="backDiv">
        <button id="backBtn">Back</button>
    </div>
    <footer>
        <br>
        <div class="adminLinkDiv">
            <a id="adminLink">Admin Page</a>
        </div>
        <br>
        <a target="_blank" href="https://icons8.com/icon/8190/sign-up">Sign</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </footer>
</body>
</html>