body
{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:20px;
    margin-left:400px;
    margin-right: 400px;
    margin-bottom:20px;
}

fieldset
{
    display:flex;
    flex-direction: column;
}

h1
{
    text-align: center;
}

#top
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#top > label
{
    width:30%;
}

#mid
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#message
{
    display:flex;
    justify-content: left;
}

#mailing
{
    display: flex;
}

#emailformat
{
    display:flex;
}

label
{
    margin:5px;
}

input
{
    display:flex;
    align-items: center;
}

button
{
    padding:10px;
    margin:2px;
    color: white;
    background-color: green;
}

footer
{
    font-size:8px;
}