body
{
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: 0 auto 1rem auto;
    padding: 1rem 1rem 2rem 1rem;
    background-color: rgb(240, 240, 240);
}

h1
{
    text-align: center;
}

#headingtitle
{
    border: solid 2px purple;
}

button
{
    padding:8px;
    margin:15px 0 0 0;
    width:6%;
    color: white;
    background-color: rgb(102, 177, 102);
    border-radius: 5px;
    border:0;
}

label
{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    border: solid 2px orange;
    margin:20px;
    width:30%;
}

fieldset /* all good */
{
    display:block;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 5px rgb(218, 218, 218);
    background-color: white;
    border: solid 2px blue;
    
}

input
{
    border-radius: 2px;
    border: 0;
    box-shadow: 0 0 2px rgb(196, 196, 196);
    border: solid 2px green;
}

#top
{
    
    border: solid 2px red;
    /* width: 50%;*/
}


/*

select
{
    display:block;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 0 2px rgb(196, 196, 196);
    height: 2.5em;
    width:50%;
    border: solid 2px green;
}
    */